<!-- Container principal que só é exibido se houver dados de previsão do tempo -->
<div class="container" *ngIf="weatherDatasInput">
  <!-- Seção superior dos dados do tempo -->
  <div class="upper-data">
    <!-- Exibe imagem do sol se a temperatura for maior que 15ºC -->
    <img src="../../../../../assets/sun.jpg" *ngIf="weatherDatasInput.main.temp > 15"/>
    <!-- Exibe imagem de frio se a temperatura for menor ou igual a 15ºC -->
    <img src="../../../../../assets/cold1.jpg" *ngIf="weatherDatasInput.main.temp <= 15"/>

    <!-- Container de informações do tempo -->
    <div class="weather-data">
      <!-- Exibe o nome da localização -->
      <div class="location">{{ weatherDatasInput.name }}</div>
      <!-- Exibe a temperatura atual formatada com uma casa decimal -->
      <div class="temperature">
        {{ weatherDatasInput.main.temp | number : "1.0-0" }} ºc
      </div>
    </div>
  </div>

  <!-- Seção inferior dos dados do tempo -->
  <div class="lowe-data">
    <div class="more-info-label">Mais informações</div>

    <!-- Container para mais informações -->
    <div class="more-info-container">
      <!-- Bloco de informação mínima -->
      <div class="info-block">
        <div class="info-block-label">
          <fa-icon size="lg" [icon]="minTemperatureIcon"></fa-icon>
          <span>Mínima</span>
        </div>
        <div class="info-block-value">
          {{ weatherDatasInput.main.temp_min | number : "1.0-0" }} ºc
        </div>
      </div>

      <!-- Bloco de informação máxima -->
      <div class="info-block">
        <div class="info-block-label">
          <fa-icon size="lg" [icon]="maxTemperatureIcon"> </fa-icon>
          <span>Máxima</span>
        </div>
        <div class="info-block-value">
          {{ weatherDatasInput.main.temp_max | number : "1.0-0"}} ºc
        </div>
      </div>

      <!-- Bloco de informação de umidade -->
      <div class="info-block">
        <div class="info-block-label">
          <fa-icon size="lg" [icon]="humidityIcon"></fa-icon>
          <span>Humidade</span>
        </div>
        <div class="info-block-value">
          {{ weatherDatasInput.main.humidity }} %
        </div>
      </div>

      <!-- Bloco de informação de vento -->
      <div class="info-block">
        <div class="info-block-label">
          <fa-icon size="lg" [icon]="windIcon"></fa-icon>
          <span>Vento</span>
        </div>
        <div class="info-block-value">
          {{ weatherDatasInput.wind.speed }} km/h
        </div>
      </div>
    </div>
  </div>
</div>
